/* initialize */
*,*::after,*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
}

h1, h2{
    font-weight: 900;
}

p{
    font-weight: 500;
}

p.name{
    font-weight: 700;
}

h1{
    font-size: 0.9rem;
}

h2{
    font-size: 2rem;
}

p{
    font-size: 1rem;
}

p.credit, p.name{
    font-size: 0.8rem;
}